.jumbotron {
    height: 550px;
    background-color: rgb(25, 25, 90);
    background-image: url("../images/space.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    /* margin: 10px; */
}
body {
    background: rgb(65, 6, 6);
    /* background-image: url("../images/stars.png");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover; */
}
/* table {
    padding: 20px;
    margin: 20px;
} */
h1 {
    color: white;
}
p {
    color: white;
}
label {
    color: white;
    margin: 10px;
}
button {
    margin: 10px;
}
